RabbitMq__Host=localhost
RabbitMq__VirtualHost=/
RabbitMq__Username=bankflow
RabbitMq__Password=bankflow

ConnectionStrings__BankFlow=Server=localhost,1433;Database=BankFlow;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True
