MSSQL_SA_PASSWORD=CHANGE_ME
RABBITMQ_DEFAULT_USER=bankflow
RABBITMQ_DEFAULT_PASS=CHANGE_ME

ConnectionStrings__BankFlow="Server=localhost,1433;Database=BankFlow;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True"
ConnectionStrings__BankFlowWorker="Server=localhost,1433;Database=BankFlowWorker;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True"

RabbitMq__Host=localhost
RabbitMq__VirtualHost=/
RabbitMq__Username=bankflow
RabbitMq__Password=CHANGE_ME
